.box {
  display: flex;
  width: 200px;
  line-height: 3rem;
  justify-content: space-between;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.x {
  margin: 0 10%;
  cursor: pointer;
}

.x:hover {
  color: gray;
  transform: scale(1.5);
  transform: rotateZ(-90deg);
}

.text {
  margin: 0 10%;
  cursor: pointer;
}

.text:hover {
  color: gray;
  transform: scale(1.5);
}
